:root{
    --text_primary : #b6b6b6;
    --text_secondary: #ececec;
    --bg_primary: #23232e;
    --bg_secondary: #141418;


}
/*General css*/
body {
    margin: 0px;
    padding: 0%;
    background-color: rgb(164, 174, 174);
    border: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #000000;
}

body::-webkit-scrollbar-thumb{
    background-color: green;
}
/*---------------*/

/*barra de navegacion*/
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg_primary);
    transition: 200ms;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text_primary);
    text-decoration: none;
}

.link-text{
    display: none;
}

.navbar:hover{
    width: 16rem;
    z-index: 10;
}
.navbar:hover .link-text{
    display: block;
}

li :hover .link-text{
    color: aqua;
}

/*----------------*/

/*Publicaciones*/

#titulo {
    font-family: 'Bodoni Moda', serif;
    color: antiquewhite;
}

#titulo:hover {
    color: rgba(0, 255, 0, 0.959);
    box-shadow: 10px;

}

#title {
    background-color: #000000;
    border-style: outset;
    border-color: azure;
    text-align: center;
    padding: 10px;
    
    border: 5px;
}


#prime {
    position: relative;
    display: flex;
    flex-direction: column;
    order: 0;
    align-items: stretch;
    justify-content: center;
    /*border-style: solid;*/
    /*border-color: rgb(0, 0, 0);*/
    min-height: 400px;
    /*padding: 10px 10vw;*/
    background-color: rgb(164, 174, 174);
    /*border-radius: 25px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5rem;
    margin-right: 5px;
}

.card {
    align-items: center;
    opacity: 0;
    transition: 1.2s;
    filter: blur(5px);
    transform: translateX(-100%);
    margin: 15px;
    background-color: #070042;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.post_header {
    display: flex;
    align-items: center;
    background-color: #242222;
}

.post_header:hover{     
    color: green;
    background-color: #413d3d;
}

.post_icon {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    margin: 5px;
}
.card:hover {
    background-color: aqua;
    transition: 0s;
}

P {
    padding-left: 15px;
}

/*-----------------*/
