:root {
  --text_primary: #b6b6b6;
  --text_secondary: #ececec;
  --bg_primary: #23232e;
  --bg_secondary: #141418;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
/*General css for background color an font*/
body {
  margin: 0;
  padding: 0%;
  background-color: rgb(0, 0, 0);
  border: 5px;
  font-family: "EB Garamond", serif;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(107, 0, 128);
  border-radius: 8px;
  width: 0.7rem;
}
/*---------------*/

/*barra de navegacion*/
/* .navbar {
  width: 2rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg_primary);
  transition: 200ms;
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text_primary);
  text-decoration: none;
}

.link-text {
  display: none;
}

.navbar:hover {
  width: 16rem;
  z-index: 10;
}
.navbar:hover .link-text {
  display: block;
}

li :hover .link-text {
  color: aqua;
} */
/*----------------*/

/*Nueva barra de navegacion*/

nav,
.nav-links {
  display: flex;
  flex-direction: row;
}
.logo {
  color: antiquewhite;
  font-size: 2rem;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background: linear-gradient(
    23deg,
    rgba(35, 35, 46, 1) 0%,
    rgba(0, 0, 0, 1) 85%
  );
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

#hamburguer-nav {
  display: none;
  background: linear-gradient(
    23deg,
    rgba(35, 35, 46, 1) 0%,
    rgba(0, 0, 0, 1) 85%
  );
}

.hamburguer-menu {
  position: relative;
  display: inline-block;
  color: antiquewhite;
}

.hamburguer-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburguer-icon span {
  width: 100%;
  height: 2px;
  background-color: #751313;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2d2d3f;
  border: 2px;
  border-color: yellow;
  width: 300px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: antiquewhite;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
  z-index: 2;
  border-radius: 5px;
  border: 2px;
  border-color: yellow;
}

.hamburguer-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburguer-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburguer-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburguer-icon span:first-child {
  transform: none;
}

.hamburguer-icon span:first-child {
  opacity: 1;
}

.hamburguer-icon span:first-child {
  transform: none;
}
/*botones*/
a {
  color: #ececec;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: green;
}

#menu {
  display: flex;
  justify-content: center;
  background: rgb(35, 35, 46);
  background: linear-gradient(
    23deg,
    rgba(35, 35, 46, 1) 0%,
    rgba(0, 0, 0, 1) 85%
  );
}
button {
  cursor: pointer;
  align-items: center;
  background-color: #2d2d3f;
  color: #ffffff;
  border-radius: 4px;
  z-index: 1;
  position: relative;
  padding: 2px;
  border-style: solid;
  width: 35vw;
  height: 30px;
  margin-top: 2rem;
}
button:active {
  background-color: green;
}

button:hover {
  border-color: yellow;
}
/*-------*/
/*Publicaciones: en tarjetas con links*/

#titulo {
  font-family: "Bodoni Moda", serif;
  color: antiquewhite;
  cursor: default;
}

#titulo:hover {
  color: rgba(0, 255, 0, 0.959);
  box-shadow: 10px;
}

#title {
  z-index: 1; /* set higher z-index value */
  position: relative;
  background: rgb(35, 35, 46);
  background: linear-gradient(
    23deg,
    rgba(35, 35, 46, 1) 0%,
    rgba(0, 0, 0, 1) 85%
  );
  border-style: outset;
  border-color: azure;
  text-align: center;
  padding: 10px;
  height: 10vh;
  border: 5px;
}
/*-------popovers-------*/
/*--------*/
#prime {
  /*background-image: url("../img/Screenshot\ 2023-06-18\ 202741_2.png");*/

  background-repeat: repeat-x;
  /*padding-left: 10vh;
  padding-right: 10vh;*/
  position: relative;
  display: flex;
  flex-direction: column;
  order: 0;
  align-items: center;
  justify-content: center;
  /*border-style: solid;*/
  /*border-color: rgb(0, 0, 0);*/
  /* min-height: 400px; */
  /* height: 100vh; */
  /*padding: 10px 10vw;*/
  /*background-color: rgb(255, 255, 255);*/
  background-color: #ffffff;
  /*border-radius: 25px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1px;
  margin-right: 1px;
}
.card {
  z-index: 1;
  align-items: center;
  /* opacity: 0; */
  transition: 1.2s;
  filter: blur(5px);
  transform: translateX(-100%);
  margin: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  width: 60vw;

  height: 40vh;
  overflow: hidden;
  box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
  -moz-box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
}
#profilePic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  min-width: 268px;
}
#P1,
#P2 {
  color: grey;
}

#xp {
  grid-column: 1/2;
  grid-row: 2;
  height: 80px;
}
#uni {
  grid-column: 2/3;
  grid-row: 2;
  height: 80px;
}
.bubble {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  transition: 1.2s;
  filter: blur(5px);
  transform: translateX(-100%);
  /* min-width: 268px; */
  border-color: grey;
  border-width: 2px;
}

.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.lenguaje {
  font-size: 1rem;
}
.nivel {
  color: rgb(53, 53, 53);
}

#socials {
  min-width: 280px;
  max-width: 565px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#GitHub {
  height: 8rem;
  width: 8rem;
  /* background-color: white; */
  /* background-image: url("../img/pngwing.jpg"); */
}
#instagram {
  height: 8rem;
  width: 8rem;
}
#linkedin {
  height: 8rem;
  width: 8rem;
}
#x {
  height: 8rem;
  width: 8rem;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.post_header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: antiquewhite;
}

.post_header:hover {
  color: rgb(0, 255, 0, 0.959);
  background-color: #2d2d3f;
}

.post_icon {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  margin: 5px;
}
.card:hover {
  background-color: aqua;
  transition: 0s;
}

P {
  padding-left: 15px;
  margin: 0;
}

/*-----------------*/
dialog {
  border-radius: 15px;
  background-color: darkslateblue;
  box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
  -moz-box-shadow: 10px 10px 0px -2px rgba(35, 35, 46, 0.75);
}
